@charset "UTF-8";
.nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.sosial-item {
  margin: 0 10px;
}

header {
  background-color: #331832;
}

.logo {
  margin-right: auto;
}

.burger {
  margin-left: 20px;
}

/*Утилиты*/
.list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  display: block;
}

.goals-list-item {
  display: block;
  position: relative;
  margin-left: 40px;
  margin-bottom: 20px;
}

.goals-list-item::before {
  position: absolute;
  left: -40px;
  content: "";
  display: inline-block;
  background-image: url(./../img/svg/tick.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}

.goals-list {
  margin-bottom: 40px;
  color: #f3f2f2;
}

.hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  margin: 0 -20px;
}

.hero-button {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 140px;
  height: 45px;
  border-radius: 30px 5px;
  color: #ffffff;
  padding: 13px 14px;
  margin: 0 20px;
}

.primary-button {
  background: linear-gradient(90.19deg, #ea7df3 -2.1%, #1751ce 103.41%);
}

.secondary-button {
  border: 1px solid #f0eded;
  -webkit-filter: drop-shadow(0px 100px 80px rgba(56, 56, 56, 0.1)) drop-shadow(0px 64.8148px 46.8519px rgba(56, 56, 56, 0.0759259)) drop-shadow(0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407)) drop-shadow(0px 20px 13px rgba(56, 56, 56, 0.05)) drop-shadow(0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593)) drop-shadow(0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741));
          filter: drop-shadow(0px 100px 80px rgba(56, 56, 56, 0.1)) drop-shadow(0px 64.8148px 46.8519px rgba(56, 56, 56, 0.0759259)) drop-shadow(0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407)) drop-shadow(0px 20px 13px rgba(56, 56, 56, 0.05)) drop-shadow(0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593)) drop-shadow(0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741));
}

.hero-section {
  background-color: #331832;
}

.hero-section h1 {
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  line-height: 27px;
  color: #f0eded;
  text-align: center;
  margin-bottom: 25px;
}

.site-owner {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  /* or 43px */
  letter-spacing: -0.04em;
  color: #e97af2;
}

.site-owner-color {
  color: #f1efef;
}

.hero-img {
  margin-bottom: 30px;
}

body {
  background-color: var(#efefef);
  color: #f3f2f2;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.container {
  width: 100%;
}
@media screen and (max-width: 320px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 3600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.video-control-button-left {
  background-image: url(../../img/svg/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.video-control-button-right {
  background-image: url(../../img/svg/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.video-control-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #331832;
  border: none;
}

.video-controls-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -10px;
}

.video-controls-item {
  margin: 0 10px;
}

.youtube-slider {
  text-align: center;
}

.counter-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  /* or 32px */
  text-align: center;
  color: #1c1c1c;
  margin: 30px -20px 35px -20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.counter-item::before {
  content: "";
  display: block;
  width: 30px;
  height: 33px;
  position: absolute;
  z-index: -10;
  top: -10px;
}

.counter-list :nth-child(1)::before {
  background-image: url(../../img/svg/ellipse-orange.svg);
  margin-left: 18px;
}

.counter-list :nth-child(2)::before {
  background-image: url(../../img/svg/ellipse-blue.svg);
  margin-left: 7px;
}

.counter-list :nth-child(3)::before {
  background-image: url(../../img/svg/ellipse-green.svg);
  margin-left: -2px;
}

.counter-item :last-child {
  margin-top: 15px;
}

.counter-item {
  margin: 0px 20px;
  padding-left: 7px;
}

.counter-item-description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #1c1c1c;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.describe-slider-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #1c1c1c;
  margin-top: 20px;
  margin-bottom: 8px;
}

.describe-slider-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 23px;
  color: #1c1c1c;
}

h2 {
  margin-top: 40px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 47px;
  text-transform: uppercase;
  background-image: linear-gradient(90.88deg, #5b1ea9 0.48%, #e97af2 45.65%, #2b5cc7 59.61%, #2b5cc7 84.4%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
}

.secondary-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 187.19%;
  /* or 30px */
  color: #1c1c1c;
}

h3 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  color: #1c1c1c;
  text-align: center;
  margin-bottom: 25px;
}

section {
  padding-bottom: 40px;
}/*# sourceMappingURL=main.css.map */