.control-button-left {
  background-image: url(./../img/svg/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control-button-right {
  background-image: url(./../img/svg/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.control-button--primary {
  background-color: #331832;
  border: none;
}
.control-button--secondary {
  background-color: transparent;
  border: 1px solid #adacac;
}
.controls-list {
  display: flex;
  justify-content: center;
  margin: 0 -10px;
}

.controls-item {
  margin: 0 10px;
}

.youtube-slider {
  text-align: center;
}

.counter-list {
  position: relative;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  /* or 32px */

  text-align: center;

  color: #1c1c1c;
  margin-top: 30px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  flex-basis: calc(100% / 3 - 20px);
  width: 305px;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 707px;
    z-index: 5;
    margin: unset;
    flex-basis: calc(100% / 3 - 30px);
    width: 418px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    display: block;
    top: 450px;
    left: 50px;
    width: 150px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    & :not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.counter-item :nth-child(1):before {
  content: "";
  display: block;
  width: 30px;
  height: 33px;
  position: absolute;
  z-index: -10;
  top: -10px;
  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    top: unset;
    margin-top: -10px;
  }
}
.counter-item-number {
  display: inline-block;
}
.counter-list :nth-child(1) :nth-child(1)::before {
  background-image: url(./../img/svg/ellipse-orange.svg);
  // margin-left: 18px;
  margin-left: -8px;
}
.counter-list :nth-child(2) :nth-child(1)::before {
  background-image: url(./../img/svg/ellipse-blue.svg);
  // margin-left: 7px;
  margin-left: -8px;
}
.counter-list :nth-child(3) :nth-child(1)::before {
  background-image: url(./../img/svg/ellipse-green.svg);
  // margin-left: -2px;
}

.counter-item :last-child {
  margin-top: 15px;

  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    margin-top: 0;
  }
}

.counter-item {
  margin: 0px 10px;
  padding-left: 7px;

  @media screen and (min-width: 768px) {
    // width: 163px;

    color: #d9d9d9;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin: unset;
    padding: unset;
  }
}

.counter-item-description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #1c1c1c;

  justify-content: space-around;

  @media screen and (min-width: 768px) {
    color: #d9d9d9;
  }
}

.describe-slider-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: #1c1c1c;
  margin-top: 20px;
  margin-bottom: 8px;
}

.describe-slider-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 23px;

  color: #1c1c1c;
}
@media screen and (min-width: 375px) {
  .describe-slider {
    text-align: center;
  }
}
