.learning-list {
  position: relative;
  display: flex;
  height: 65px;
  align-items: flex-start;
  width: 320px;
  background: linear-gradient(75deg, #ebedf4 0% 50%, #ccd5e7 50% 100%);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.learning-item {
  padding-top: 10px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #1c1c1c;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
}

.learning-item::after {
  display: block;
  content: "";
  width: 16px;
  height: 19px;
  background-image: url(./../img/svg/double-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: contain;
  margin-left: auto;
  margin-right: auto;
}

.level-list {
  position: relative;

  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-top: 58px;
  padding-bottom: 40px;
}

.first-level-block {
  background-color: #ebedf4;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
.second-level-block {
  background-color: #ccd5e7;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.level-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #1c1c1c;
  margin-left: 65px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.level-item::before {
  position: absolute;
  display: block;
  background-image: url(./../../img/svg/tick.svg);
  content: "";
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: cover;
  left: 15px;
}

.learning-index {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;

  color: #2c38a1;
}

.timing-list {
  width: 320px;
  position: relative;
  padding-right: 10px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  & :not(:last-child) {
    margin-bottom: 20px;
  }
  & :nth-child(1) .learning-index {
    position: absolute;
    left: 27px;
    // margin-right: 34px;
  }
  & :nth-child(2) .learning-index {
    position: absolute;
    left: 20px;
    // margin-right: 25px;
  }
}

.timing-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #1c1c1c;
  margin-left: 78px;
}

.tab_contents {
  display: none;
}

.tab_contents.active_tab {
  display: block;
}

.learning-item::before {
  position: absolute;
  display: none;
  content: "";
  background-image: url(./../img/svg/right-arrow.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: contain;

  margin-right: auto;
  bottom: 2px;
  margin-left: 20px;
}

.learning-item.is_open::before {
  display: block;
}
.learning-item.is_open::after {
  display: none;
}
.features-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
  & :not(:last-child) {
    margin-bottom: 15px;
  }
}

.features-item {
  width: 325px;
  height: 85px;
  transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  background: #efe3d5;
  border-radius: 10px;
  box-shadow: 0px 3px 0px 0px rgba(212, 195, 175, 1),
    0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  // hex #D4C3AF = rgba (212, 195, 175, 1)
  // position: relative;

  &.features-details-text {
    width: 290px;
    // height: 199px;
    height: auto;
    transform: none;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);

    margin-top: -9px;
  }
}
.features-item.features-details-summary .features-text::after {
  display: block;
  content: "";
  background-image: url(./../img/svg/double-arrow-down.svg);
  width: 16px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: contain;

  position: absolute;
  right: 25px;
}

.hidden {
  display: none;
}
// .features-list-wrap .features-list:nth-child(2) .features-text {
//   &::after {
//     display: block;
//     content: "";
//     background-image: url(./../../img/svg/double-arrow-down.svg);
//     width: 16px;
//     height: 19px;
//     background-repeat: no-repeat;
//     background-position: contain;

//     position: absolute;
//     right: 25px;
//   }
// }
// .features-list :nth-child(3) .features-text {
//   &::after {
//     display: block;
//     content: "";
//     background-image: url(./../../img/svg/double-arrow-down.svg);
//     width: 16px;
//     height: 19px;
//     background-repeat: no-repeat;
//     background-position: contain;

//     position: absolute;
//     right: 25px;
//   }
// }

.features-text {
  display: flex;
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #1c1c1c;
  margin: auto;
  padding-top: 7px;
  justify-content: space-around;
  align-items: center;
  padding-left: 25px;
  padding-right: 60px;

  &.hidden-text {
    transform: none;
    padding: 19px 18px 14px 18px;
    text-align: left;
  }
}
// .blur-wrap {
//   position: relative;
// }
.learning-img {
  // position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: -62px;
  // background: url(./../img/mobile/blur.png),
  //   url(./../../img/mobile/oksana-solomatina.png);
  // transform: matrix(-1, 0, 0, 1, 0, 0);
  // background: #fdfdfd;
  // filter: blur(15px);
  // transform: rotate(0.07deg);
  // transform: matrix(-1, 0, 0, 1, 0, 0);
  // backdrop-filter: blur(10px);

  // transform: scale(1.1);
}

// .learning-img::after {
//   position: absolute;
//   filter: blur(8px);
//   bottom: 0;
// }

// .blur-region {
//   & ::before,
//   &::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-repeat: no-repeat;
//     background-position: center bottom;
//     background-size: 100% auto;
//     filter: blur(8px);
//   }
//   & ::before {
//     transform: scaleX(1.1);
//   }

//   .blur-region {
//     & ::before,
//     & ::after {
//       background-image: url(./../../img/mobile/oksana-solomatina.png);
//     }
//   }
// }

.program {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #1c30e4;
  justify-content: center;
  margin-top: 61px;
  margin-bottom: 40px;
}

.program::after {
  display: block;
  content: "";
  background-image: url(./../img/svg/round-arrow-right.svg);
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: contain;
  margin-left: 26px;
}

.learning-section {
  background-image: url(./../img/svg/decor-top.svg),
    url(./../../img/svg/decor-bottom.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 428px, 1320px;
}

.learning-section h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #1c1c1c;
  margin-bottom: 29px;
}

.learning-text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #1c1c1c;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 26px;
}

.learning-section h2 {
  margin-top: 20px;
  margin-bottom: 24px;
}
