.mobile-menu-item::before {
  content: "";
  background-image: url(./../img/svg/double-right-arrow.svg);
  width: 19px;
  height: 18px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  left: -40px;
  background-position: center;
  margin-top: 7px;
}

.mobile-menu-item {
  position: relative;
  margin-left: 40px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.mobile-menu-link {
  color: #fff;
  font-size: 22px;
  // font-family: Poppins;
  // font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menu-container {
  background-color: #331832;
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding: 70px 40px 56px 36px;
  top: 0;
  left: 0;
  // display: none;
  z-index: 200;
  transform: translateX(100%);
  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-open {
    display: block;
    transform: translateX(0);
    transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
    min-height: -webkit-fill-available;

    & .menu-open-icon {
      display: block;
    }
    &.menu-close-icon {
      display: none;
    }
  }
}

.menu-open {
  border: none;
  background-color: transparent;
  padding: 0px 0px;

  @media screen and (min-width: 992px) {
    display: none;
  }
}
.menu-close {
  position: fixed;
  display: block;
  width: 26px;
  height: 25px;
  right: 22px;
  top: 22px;
  // z-index: 300;
  border: none;
  background-color: transparent;
  margin-left: 0 auto;
  padding: 0px;
  cursor: pointer;
  outline: none;

  @media screen and (min-width: 992px) {
    display: none;
  }
}

.burger {
  // position: absolute;
  display: block;
  right: 20px;
  top: 35px;
}
.mobile-menu-list li.mobile-menu-item {
  opacity: 0;
}

.mobile-menu-list li.link-fade:nth-child(1) {
  opacity: 1;
  transition: all 0.5s ease 0.2s;
}
.mobile-menu-list li.link-fade:nth-child(2) {
  opacity: 1;
  transition: all 0.5s ease 0.4s;
}
.mobile-menu-list li.link-fade:nth-child(3) {
  opacity: 1;
  transition: all 0.5s ease 0.6s;
}
.mobile-menu-list li.link-fade:nth-child(4) {
  opacity: 1;
  transition: all 0.5s ease 0.8s;
}
.mobile-menu-list li.link-fade:nth-child(5) {
  opacity: 1;
  transition: all 0.5s ease 1s;
}
.mobile-menu-list li.link-fade:nth-child(6) {
  opacity: 1;
  transition: all 0.5s ease 1.2s;
}
.mobile-menu-list li.link-fade:nth-child(7) {
  opacity: 1;
  transition: all 0.5s ease 1.4s;
}
.mobile-menu-list li.link-fade:nth-child(8) {
  opacity: 1;
  transition: all 0.5s ease 1.6s;
}
