.price-section .social-list {
  justify-content: center;
  margin-bottom: 50px;
}

.price-item {
  max-width: 100%;
  height: auto;
  background-color: #994d7b;
  box-shadow: 0px 8px 30px rgba(35, 25, 38, 0.15);
  border-radius: 7px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7px;
  padding-bottom: 15px;
}

.price-list :not(:last-child) {
  margin-bottom: 25px;
}

.price-list-price {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
}
.price-list-time {
  // font-family: "Poppins";
  // font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.price-list-title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  margin-bottom: 25px;
}
.appointment-button {
  display: flex;
  // font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #d9d9d9;
  padding: 25px 0;
  background: linear-gradient(225deg, #993fdf 0%, #1c30e4 100%), #db8686;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  animation: price-button-start 0.3s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  &:hover {
    // background: linear-gradient(92deg, #6b7cd4 0%, #1751ce 100%);
    // transition: linear-gradient 650ms ease-in-out;
    animation: price-button 0.3s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@keyframes price-button {
  0% {
    background: linear-gradient(225deg, #993fdf 0%, #1c30e4 100%), #db8686;
  }
  20% {
    background: linear-gradient(225deg, #993fdf 20%, #1c30e4 100%), #db8686;
  }
  40% {
    background: linear-gradient(225deg, #993fdf 40%, #1c30e4 100%), #db8686;
  }
  60% {
    background: linear-gradient(225deg, #993fdf 60%, #1c30e4 100%), #db8686;
  }
  80% {
    background: linear-gradient(225deg, #993fdf 80%, #1c30e4 100%), #db8686;
  }
  100% {
    background: linear-gradient(225deg, #993fdf 100%, #1c30e4 100%), #db8686;
  }
}

@keyframes price-button-start {
  0% {
    background: linear-gradient(225deg, #993fdf 100%, #1c30e4 100%), #db8686;
  }
  20% {
    background: linear-gradient(225deg, #993fdf 80%, #1c30e4 100%), #db8686;
  }
  40% {
    background: linear-gradient(225deg, #993fdf 60%, #1c30e4 100%), #db8686;
  }
  60% {
    background: linear-gradient(225deg, #993fdf 40%, #1c30e4 100%), #db8686;
  }
  80% {
    background: linear-gradient(225deg, #993fdf 20%, #1c30e4 100%), #db8686;
  }
  100% {
    background: linear-gradient(225deg, #993fdf 0%, #1c30e4 100%), #db8686;
  }
}

.price-left-column .appointment-button {
  @media (min-width: 992px) {
    display: none;
  }
}
.price-list {
  margin-bottom: 45px;
  width: 100%;
}

.price-img {
  margin-top: 34px;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 992px) {
    margin-top: 0px;
    margin-bottom: 19px;
  }
}
.price-left-column .price-img {
  @media (min-width: 992px) {
    display: none;
  }
}
.price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
  @media (min-width: 982px) {
    margin-top: 100px;
  }
}

.price-left-column .price-img {
  @media (min-width: 992px) {
    display: none;
  }
}
.price-left-column .social-list {
  @media (min-width: 992px) {
    display: none;
  }
}
.price-right-column {
  background-image: url("../img/svg/price-bg-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
}
.price-left-column,
.price-right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  background-image: url("../img/svg/price-bg-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  @media (min-width: 982px) {
    flex-basis: 50%;
    // background-image: none;
  }
}

.price-text li:not(:last-child) {
  margin-bottom: 10px;
}
.price-right-column {
  display: none;
  @media (min-width: 982px) {
    display: flex;
  }
}
