.qualification-section {
  background-color: $main-background-color;
}

.qualification-slider-description {
  margin-top: 20px;
  margin-bottom: 38px;
}

.qualification-description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #f0efef;
}

.qualification-section h2 {
  margin-bottom: 15px;
}
