body {
  background-color: var($secondary-background-color);
  color: #f3f2f2;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
  @media (min-width: 992px) {
    font-size: 18px;
  }
}
