.container {
  width: 100%;
  @media screen and (max-width: 320px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (max-width: 3600px) {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
